.wrapper {
  position: relative;
  display: flex;
  gap: 48px;
  max-width: 1184px;
  border-radius: 24px;
  background-color: var(--primary-color-white);
  padding: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
  @media only screen and (max-width: 1020px) {
    flex-direction: column;
    gap: 16px;
  }
}

.imageWrapper {
  position: relative;
  width: 126px;
  height: 126px;
  padding: 12px;
  border-radius: 50%;
  border: 3px solid var(--secondary-color-fon);
  display: block;
  &:after {
    position: absolute;
    content: "";
    background-color: #38cd3e;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    top: 20px;
    right: 20px;
  }
}

.image {
  border-radius: 50%;
  display: block;
}

.cardBody {
  width: 100%;
}

.cardHeader {
  display: flex;

  align-items: center;
  width: 100%;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.languages {
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a89;
}

.headerList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0;
  margin-right: 90px;
  list-style: none;
  @media only screen and (max-width: 1074px) {
    margin-right: 36px;
  }
  @media only screen and (max-width: 1020px) {
    margin-right: 0px;
  }
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.headerItem {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.price {
  color: #38cd3e;
}

@media only screen and (min-width: 801px) {
  .headerItem:not(:last-child)::after {
    content: "";
    margin-left: 16px;
    width: 0px;
    height: 16px;
    border: 1px solid rgba(18, 20, 23, 0.2);
  }
}

.cardTitle {
  height: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.btnFav {
  position: absolute;
  display: flex;
  padding: 0;
  right: 24px;
  top: 24px;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cardInfo {
  margin-bottom: 8px;
  font-weight: 500;
}

.greyText {
  color: #8a8a89;
}

.btnReadMore {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.cardFooter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.footerItem {
  padding: 8px 12px;
  font-weight: 500;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
}

.footerItem:first-child {
  border: 1px solid var(--primary-color-fon);
  background-color: var(--primary-color-fon);
}

.btnBook {
  display: flex;
  cursor: pointer;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

  background: var(--primary-color-fon);
  border-radius: 12px;
  border: none;

  @media only screen and (max-width: 474px) {
    width: 100%;
  }
}

.btnBook:hover,
.btnBook:active {
  background: var(--secondary-color-fon);
}

.commentsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.commentItem {
  margin: 0;
  padding: 0;
}

.commentHeader {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.commentTitle {
  margin: 0 0 2px 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #8a8a89;
}

.commentPhoto {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.commentRateWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.commentRate {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.commentText {
  max-width: 400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
