.wrapper {
  padding: 40px 16px;
  border: 1px dashed #9fb7ce;
  border-radius: 30px;
  margin-bottom: 32px;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 40px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.number {
  font-size: 28px;
  font-weight: 500;
}

.desc {
  width: 96px;
  color: var(--active-color-black);
  font-size: 14px;
  font-weight: 400;
}
