.header {
  position: relative;
}

.nav {
  height: 88px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoText {
  padding: 0;
  display: block;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.logoImg {
  width: 40px;
  height: 40px;
  border: 7px solid var(--primary-color);
  background-color: var(--primary-color);
  display: block;
  border-radius: 50%;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.menuLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 20px;
  border-radius: 15px;
  /* background-color: var(--primary-color); */
  &.active {
    background-color: var(--primary-color);
  }
}

.menuLink.active {
  background-color: var(--primary-color);
}

.menuItemBtn {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.menuBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: var(--active-color-black);
  }
}

.wrapperBtn {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 16px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--primary-color);
  color: rgba(252, 252, 252, 0.7);
  padding: 4px;
  border-radius: 50%;
}

.btnLogout {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  padding: 14px 0px;
  border: none;
  background-color: transparent;
  color: var(--primary-color-black);
  cursor: pointer;
  font-weight: 500;
}

.btnLogout:hover,
.btnLogout:active {
  color: var(--active-color-black);
}

.btnRegistration {
  padding: 14px 39px;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color-black);
  color: var(--primary-color-white);
  cursor: pointer;
  font-weight: 700;
}

.btnRegistration:hover,
.btnRegistration:active {
  background-color: var(--active-color-black);
}

.burgerMenu {
  display: none;
}

@media only screen and (max-width: 767px) {
  .menu {
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 32px;
    padding-top: 180px;
    gap: 16px;
    height: 100vh;
    list-style: none;
    z-index: 2000;
    font-size: 24px;
    transition: left 500ms;
    background-image: url("https://luzhnyak.github.io/vocab-builder/images/illustration-menu@2x.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 360px;
  }

  .menuLink {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 12px 20px;
    border-radius: 15px;

    &.active {
      background-color: var(--primary-color-white);
    }
  }

  .menuLink.active {
    background-color: var(--primary-color-white);
  }

  .isShowMenu {
    left: 0;
  }

  .burgerMenu {
    display: block;
    color: var(--primary-color-black);
    background-color: transparent;
    border: none;
    position: absolute;
    right: 50px;
    top: 32px;
    z-index: 2001;
  }

  .btnLogout {
    font-size: 14px;
    padding: 14px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .menuItemLogout {
    display: none;
  }
}
