.modalWrapper {
  width: 500px;
}

.title {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: var(--primary-color-white);
  text-align: center;
}

.text {
  margin: 0 0 32px 0;
  line-height: 30px;
  font-size: 20px;
  color: var(--primary-color-white);
  font-weight: 400;
  @media only screen and (max-width: 475px) {
    margin: 0 0 20px 0;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  color: var(--primary-color-white);
}

.inputWrapper:not(:last-child) {
  margin-bottom: 18px;
}

.input {
  display: block;
  padding: 16px 18px;
  box-sizing: border-box;
  color: var(--primary-color-white);
  background-color: transparent;
  width: 354px;
  height: 56px;
  border: 1px solid var(--primary-color-akcent);
  border-radius: 15px;
  margin-right: 24px;
}

.inputError {
  border: 1px solid red;
}

.inputError:focus {
  border: 1px solid red;
  outline: 1px solid red;
}

.errormessage {
  position: absolute;
  bottom: -18px;
  left: 0;
  color: red;
  font-size: 14px;
}

.btnShowPassword {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 0;
}

.reason {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.select {
  width: 204px;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--primary-color-akcent);
  color: var(--primary-color-white);
  padding: 12px 24px;
  border-radius: 15px;
}

.radioGroup {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.radioWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.radioWrapper label {
  cursor: pointer;
}

.inputRadio {
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-color-white);
}

.btnWrapper {
  display: flex;
  gap: 10px;
}

.btn {
  cursor: pointer;
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--primary-color-white);
  border: none;
  border-radius: 30px;

  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.btn:hover,
.btn:active {
  color: var(--primary-color-akcent);
}

.btnCancel {
  cursor: pointer;
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  color: var(--primary-color-white);
  border-radius: 30px;
  border: 1px solid var(--primary-color-akcent);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.btnCancel:hover,
.btnCancel:active {
  color: var(--primary-color-black);
  background-color: var(--primary-color-white);
  /* border: none; */
}

.register {
  color: var(--backdrop-color-black);
  display: block;
  margin: 0 auto;
  line-height: 24px;
  font-weight: 700;
  margin-top: 16px;
  width: 65px;
  text-decoration: underline;
}

.resultWrapper {
  width: 100%;
  height: 424px;
  overflow-y: auto;
  display: flex;

  gap: 16px;
}

.resultList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resultTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(252, 252, 252, 0.5);
  margin-bottom: 8px;
}

.resultItem {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(252, 252, 252, 1);
  margin-bottom: 4px;
}

.resultImg {
  position: absolute;
  bottom: 21px;
  right: 6px;
}

.block {
  flex-grow: 1;
}
